*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.navbar-container{
    position: sticky;
    top: 0;
    z-index: 999;
    height: 9vh;
    background-color: peachpuff;
}

.wrapper{
    padding: 1.3vh 2.6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

.menutxt{
    padding-left: 10px;
}

.left{
    flex: 1;
}

.logo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}

.center{
    flex: 1;
}

.search-container{
    border: 1px solid black;
    display: flex;
    padding: 0.8vh;
    align-items: center;
    border-radius: 25px;
    justify-content: space-between;
}

.input{
    border: none;
    padding: 0.8vh;
    width: 57vh;
    border: none;
    background-color: transparent;
}

::placeholder{
    /* color: blue; */
    font-size: 1rem;
    align-items: center;
}

.search-icon{
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-top: 1px;
}

.right{
    flex: 1;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: row; */
    margin-left: 10vh;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20vh;
    font-size: 1.4rem;
}
