  .orders-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
  
  .orders-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .order-box {
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 50px;
    width: 80%;
  }
  
  .order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead tr {
    background-color: #333;
    color: #fff;
    font-size: 16px;
  }
  
  th {
    padding: 10px;
    text-align: left;
  }
  
  tbody tr {
    border-bottom: 1px solid #ccc;
    font-size: 14px;
  }
  
  td {
    padding: 10px;
  }
  
  .order-total {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .order-total h3 {
    font-size: 20px;
    font-weight: bold;
  }

  .status.green {
    background-color: #d7f9d7;
    color: #31b438;
  }
  
  .status.red {
    background-color: #f7d7d7;
    color: #e31b1b;
  }
  